##################################
## OS and Editor Specific Files ##
##################################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

###################
## Build Folders ##
###################
/node_modules
