@import 'variables';
@import 'mixins';

/****************
 * mobile first *
 ****************/

html {
  font-family: $font-stack;
}

body {
  color: $primary-color;
}

.progress {
  margin-top: 20px;
}

.box {
  // mixin example
  @include border-radius(10px);
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  background-color: #f00;
}

.success {
  // extend example
  @extend .message;
  border-color: green;
}
